/*start variables*/
:root {
  --main-color: black;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
/*end variables*/
/* start global rules */
* {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */

/* start components */
.special-heading {
  color: var(--main-color);
  font-size: 80px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 40px;
  }
}
/* end components */

/* start header */
.header {
  padding: 20px;
  background-color: var(--main-color);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 100px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.header .links .icon span {
  background-color: white;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #222;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* end header */
/* start landing section */
.landing {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: white;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  color: white;
}
/* end landing section */
/* start features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container .info {
  text-align: center;
  max-width: 100%;
}
.features .container .info p {
  font-size: 19px;
  line-height: 1;
  color: black;
}
/* end features */
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #777;
  font-weight: 300;
  line-height: 1.8;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--main-color);
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  right: -20px;
  top: -50px;
}
.services .services-content .image img {
  width: 300px;
}
@media (max-width: 1200px) {
  .image-column {
    display: none;
  }
}
/* end services */

/* start memories */
.memories {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.memories .memories-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.memories .memories-content .card {
  background-color: var(--main-color);
  height: 20vh;
}
.memories .memories-content .card .image {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.memories .memories-content .card .image img {
  max-width: 100%;
}
.memories .memories-content .card:hover .image {
  padding-top: 20px;
}

/* end memories */

/* start rate */
.rate {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.rate .rate-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.rate .rate-content .card {
  background-color: white;
}
.rate .rate-content .card .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rate .rate-content .card:last-child .image {
  padding-top: 40px;
}
.rate .rate-content .card .image img {
  max-width: 100%;
}

.rate .rate-content .card .info {
  padding: 20px;
}
.rate .rate-content .card h3 {
  margin: 0;
}
.rate .rate-content .card p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}
.rate .rate-content .card:last-child p {
  padding-top: 15px;
}
/* end rate */
/* start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  height: 80vh;
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* end contact */

/* start footer */
.footer {
  background-color: var(--main-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
/* end footer */
* {
  box-sizing: border-box;
}

/* start register */
body {
  line-height: 1.5;
  background-color: #eee;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}

input {
  appearance: none;
  border-radius: 0;
}

.form {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: var(--section-background);
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
}

.form-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url("https://assets.codepen.io/285131/coffee_1.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 5%;
  position: relative;
}

.form-heading {
  position: absolute;
  left: 10%;
  top: 15%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #735400;
  line-height: 1.222;
}
.form-heading small {
  display: block;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: 0.25em;
}

.form-form {
  padding: 2rem 1rem 0;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}

.input-label {
  color: black;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}

.action {
  margin-top: 2rem;
}

.action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: var(--main-color);
  border-radius: 6px;
  color: #fff;
  border: 0;
}

/* start register */
.text-center {
  text-align: center;
}

.pricing-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}

.pricing-box {
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  flex: 1;
  padding: 0 30px 30px;
  margin: 2%;
  min-width: 250px;
  max-width: 350px;
}

.pricing-box h5 {
  text-transform: uppercase;
}

.price {
  margin: 24px 0;
  font-size: 36px;
  font-weight: 900;
}

.price sub,
.price sup {
  font-size: 16px;
  font-weight: 100;
}

.features-list {
  padding: 0;
  list-style-type: none;
}

.features-list li {
  font-weight: 100;
  padding: 12px 0;
  font-weight: 100;
}

.features-list li:not(:last-of-type) {
  border-bottom: 1px solid white;
}

.btn-primary {
  border-radius: 25px;
  border: none;
  background-color: #ec1362;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 20px;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}
